<tr 
        id="pronounce_{{word['key']}}"
        hx-get="{{ url_for('library.book.chapter.audio.pronunciation.edit', author=chapter.author.name, title=chapter.title, chapter_number=chapter.number, language=chapter.language) }}"
        hx-target="#pronounce_{{word['key']}}"
        hx-swap="outerHTML"
        hx-vals='{"key": "{{word['key']}}"}'
    >
        <input type="hidden" name="word" value="{{word['key']}}">
        <td name="word">{{word['word']}}</td>
        <td name="pronunciation">{{word['pronunciation']}}</td>
        <td>
            <div class="wa-cluster">
                <wa-button
                    hx-delete="{{ url_for('library.book.chapter.audio.pronunciation.delete_global_pronunciation', author=chapter.author.name, title=chapter.title, chapter_number=chapter.number, language=chapter.language, key=word['key']) }}"
                    hx-target="#global_pronunciation"
                    hx-swap="outerHTML"
                >Delete</wa-button>
            </div>
        </td>
    </tr>