{% set TEXT = True %}
{% extends "base.html" %}

{% block title %}
<title>Artifact Editor: Text</title>
{% endblock %}

{% block styles %}
<style>
    #text_editor {
        width: 27em;
    }
    .ql-editor {
        font-size: 16px;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    let text_editor = null;
    // Wait for the DOM to finish loading
    document.addEventListener('DOMContentLoaded', () => {
        if (!text_editor) {
            text_editor = new Quill('#text_editor', {
                modules: {
                    syntax: true,
                    toolbar: [
                        [{'font': []}, {'size': []}],
                        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
                        ['color', 'background'], // defaults from theme
                        ['blockquote', 'code-block'], // blockquote, code block
                        [{'list': 'ordered'}, {'list': 'bullet'}], // lists and indentation
                        ['link'], // links
                        ['blockquote', 'code-block'],
                    ]
                },
                theme: 'snow'
            });

            // Listen for text changes in the Quill editor and auto-save
            // https://quilljs.com/docs/api#text-change
            text_editor.on('text-change', (delta, oldDelta, source) => {
                // Right now _every_ change is being sent to the server.  
                // This is a little ridiculous.  If we can soak and bundle
                // changes for a few seconds, that would be less noisy.
                htmx.ajax('POST', 'delta', {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    values: {
                        delta: JSON.stringify(text_editor.getContents()),
                    },
                    swap: 'none',
                    onError: function (err) {
                        console.error('Error updating:', err);
                    }
                });
            });
        }

        // Retrieve the current chapter content
        htmx.ajax('GET', 'delta', {
          swap: 'none',
          handler: function(target, info) {
            if (info.xhr.status === 200) {
              text_editor.setContents(JSON.parse(info.xhr.responseText));
            } else {
              console.error('Error fetching todo:', info.xhr.statusText);
            }
          }
        });
    });
</script>
{% endblock %}

{% block body %}

<div class="wa-cluster wa-align-items-start" style="gap: 32px;">
    <div class="wa-stack">
        <div>
            <div 
                id="text_editor" 
                class="text-editor"
                style="height: 47em;">
            </div>
        </div>

        <div class="wa-cluster">
            {{import_button|safe}}
        </div>
    </div>

</div>

{% endblock %}