rich==13.7.1
git+https://github.com/huggingface/diffusers
torch
pillow
peft
sentencepiece
protobuf
openai
httpx
torchvision
torchaudio 
transformers
pyfiglet
ascii_magic
azure-cognitiveservices-speech
optimum[quanto]
whisper-timestamped
bs4
opencv-python
torchao==0.12.0
filelock
nltk
#coqui-tts
#elevenlabs
lxml
#numba==0.60.0
#thinc
#spacy
Flask
# git+https://github.com/declare-lab/TangoFlux
titlecase
wiktionaryparser
git+https://github.com/mphilli/English-to-IPA
Flask-Caching
requests-oauthlib
structlog
flask-cors
redis
fnv_hash_fast
inflect
praat-parselmouth
SpeechRecognition
colour
pyparsing
GitPython
PyGithub
html-to-quill-delta
flask-sock
